.container {
  display: grid;
  min-height: 80vh;
  margin: 200px 0;
  grid-template-rows: auto 1fr;
  background: #fff;
  padding: 24px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.carousel {
  display: flex;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
}

.carousel::before,
.carousel::after {
  z-index: 1;
  content: "";
  position: absolute;
  left: 300px;
  top: -24px;
  height: calc(100% + 24px);
  /* opacity: 0; */
}

.carousel::before {
  width: 116px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.carousel::after {
  width: 100vw;
  background: #fff;
  transform: translateX(-100%);
  height: calc(100% + 32px);
}

.overflow {
  padding: 24px 0;
  overflow: hidden;
}

.card {
  /* Use flex layout on mount to fit content then hardcode 
    and convert to absolute layout */
  flex: 0 0 auto;
  width: 300px;
  margin: 0 0 0 24px;
  /* required when switching to absolute layout; */
  position: relative;
  height: 100%;
  left: 0;
  top: 0;
  /* start at 0 opacity and intro when carousel mounts */
  opacity: 0;
  /* theme */
  padding: 24px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.075);
}
