.container {
  /* display: grid;
  min-height: 80vh;
  margin: 200px 0;
  grid-template-rows: auto 1fr;
  background: #fff; */
  padding: 24px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.carousel {
  display: flex;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  position: relative;
}

.overflow {
  padding: 24px 0;
  overflow: hidden;
}